/* src/index.css */

body {
  margin: 0;
  font-family: "Montserrat", cursive;
  background: rgb(236, 237, 238);
  background: linear-gradient(
    90deg,
    rgba(236, 237, 238, 1) 0%,
    rgba(171, 172, 173, 1) 43%,
    rgba(130, 134, 135, 1) 100%
  );
}

a {
  list-style: none;
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* ?? NAVBAR  */

.Navbar {
  overflow: hidden;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.loca-logo {
  font-family: "Comfortaa";
  font-size: 2.5em;
  margin: 10px 0 10px 15px;
  letter-spacing: 10px;
}
nav button {
  background-color: #191a1a;
  padding: 5px 20px;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 15px;
  height: 40px;
  width: 100px;
}

.my-btn-white {
  background-color: white;
  color: black !important;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  min-width: 100px;
  margin: 5px;
  font-size: 15px;
  height: 40px;
}

.my-btn-black {
  font-weight: bold;
  box-shadow: black;
}

/* ?? NAVBAR  */

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 15px;
  height: 40px;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.card {
  width: 80vw;
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: white;
  border-radius: 4px;
  color: black;
}

.authContainers img {
  position: absolute;
  bottom: 0px;
  height: 100vh;
  left: 5%;
  z-index: -1;
}

.authContainers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  height: 80vh;
}

.AddProject,
.AddTask,
.SignupPage,
.LoginPage {
  background: #191a1a;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  max-width: 400px;
  min-width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.LoginPage,
.SignupPage {
  background-color: #191a1a;
  color: white;
}

.LoginPage > p > a,
.SignupPage > p > a {
  color: white;
  text-decoration: underline;
}

.AddTask form,
.AddProject form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* * MAP */

div .map-component {
  background-color: #191a1a;
}
.map-container {
  height: 400px;
}

.custom-pin {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
}
.custom-pin img {
  width: 100%;
  height: 100%;
}

.store-logo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.store-coverImg {
  width: 100vw;
  position: relative;
}

.store-header {
  margin: 10% auto;
}

.main-header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-header h1 {
  padding: 2%;
}

.discover-stores h2 {
  font-size: 40px;
  padding: 20px 0 20px 0;
}

.stores-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.store-component {
  margin: 10px;
}

.store-component .card {
  background-color: #191a1a;
  color: white;
}

.hero-image {
  height: 50vh;
  position: absolute;
  z-index: -1;
}

.discover-stores {
  height: 100%;
  color: white;
  background-color: #191a1a;
  padding: 20px;
}

.map-component {
  background-color: ghostwhite;
}

#btn-register-store {
  font-family: "Montserrat";
  width: 190px;
  background-color: #191a1a;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

#search-bar {
  border: 2px solid white;
  width: 50vw;
  max-width: 400px;
  border-radius: 20px;
  margin: 5px 0 50px 0;
}

.profile-container {
  color: white;
  max-width: 900px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #424242;
  border-radius: 10px;
  background: #191a1a;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  min-height: 40vh;
  margin-bottom: 40px;
}

.profile-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
}

.profile-header > * {
  margin: 10px;
}

a:hover {
  cursor: pointer;
}

.error-message {
  color: rgb(177, 23, 23);
}

.storeForms {
  background-color: #191a1a;
  color: white;
  width: 60vw;
  max-width: 80vw;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  margin-bottom: 100px;
}

.storeForms form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storeForms img {
  position: absolute;
  bottom: 0px;
  height: 100vh;
  left: 5%;
  z-index: -1;
}

.delete-btn {
  background-color: rgb(177, 23, 23);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  min-width: 150px;
  margin: 20px 0 20px 0;
}

/* .storeDetailsContainer {
  display: flex;
  flex-direction: column;
  height: 80vw;
} */

.footer {
  border-top: 1px solid #0f0f0f;
  background-color: #191a1a;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  bottom: 0;
  position: fixed;
  flex-wrap: wrap;
}

.footer * {
  color: ghostwhite;
  margin: 5px 60px;
  align-self: center;
}

button {
  border-radius: 20px;
  border: none;
  min-width: 100px;
  text-transform: uppercase;
}

.storeDetailsContainer .details-bg {
  max-width: 90vw;
  position: absolute;
  bottom: 0px;
  left: 5%;
  z-index: -1;
}

.store-description {
  max-width: 200px;
}
